@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom class for Archivo Black font */
.logo-font {
  font-family: "Archivo Black", sans-serif;
  font-weight: normal;
}

/* Apply Rubik font globally */
body {
  font-family: "Rubik", serif;
}
