@import 'tailwindcss';

body {
  font-family: var(--font-poppins), sans-serif;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(119, 119, 119);
}
